# Обновлено для pull request
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Случайные файлы
develop

# Виртуальное окружение
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Журналы и временные файлы
*.log
*.tmp
*.temp

# Файлы драйверов
chromedriver.log
geckodriver.log